html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  font-family: monospace;
  color: #ffffff;
  background-color: #111111;
  line-height: 1.2;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  opacity: 0.8;
}
p {
  font-size: 1.5rem;
  opacity: 0.8;
}
a {
  text-decoration: none;
  position: relative;
  color: #ffffff;
}

a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 90%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #85144b;
}

a:hover:after {
  top: 0%;
}
