@import url(normalize.css);
@import url(fonts.css);

body {
  background-color: #000000;
  color: #dddddd;
  margin: 200px 350px;
  font-family: "AG", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 5.645vw;
  line-height: 7.3vw;
}

a {
  font-size: 1.2vw;
  color: #dddddd;
  text-decoration: none;
}

a:hover {
  font-size: 1.5vw;
  color: #ff4136;
}

a::selection {
  background-color: #85144b;
}

::selection {
  background-color: #dddddd;
  color: #ff4136;
}

blockquote {
  font-size: 2rem;
  line-height: 3rem;
  max-width: 600px;
}

.nf {
  margin-left: 0.75rem;
}

.ol {
  margin-top: 0.75rem;
}

.tw:hover {
  color: #1da1f2;
}

.ld:hover {
  color: #0a66c2;
}

.gh:hover {
  color: #f5f5f5;
}

.rs:hover {
  color: #ff851b;
}

@media (max-width: 1200px) {
  body {
    margin: 1rem;
  }
  h1 {
    font-size: x-large;
  }
  a {
    font-size: x-large;
  }
  a:hover {
    font-size: x-large;
  }
}
